body {
  background: black;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  perspective: 400px;
}

.cubic,
.left,
.right,
.top,
.bottom,
.base {
  background: white;
  width: 100px;
  height: 100px;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotate-color 3s infinite linear;
  box-shadow: 5px 5px 43px 5px #f704f9;
  border-radius: 50%;
}

@keyframes rotate-color {
  0% {
    filter: hue-rotate(0);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.cubic {
  animation: rotate 5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.left {
  background: linear-gradient(to right, blue, red, white);
  transform: rotateX(90deg) translateY(50px);
  top: 51px;
}

.right {
  background: linear-gradient(to right, pink, brown, black);
  transform: rotateX(90deg) translateY(50px);
  bottom: 51px;
}

.top {
  background: linear-gradient(to top, green, yellow, purple);
  transform: rotateY(90deg) translate(-51px, 72px);
  right: 50px;
  top: -72px;
}

.bottom {
  background: linear-gradient(to left, brown, gray, red);
  transform: rotateY(90deg) translate(-51px, 72px);
  right: -50px;
  top: -72px;
}

.base {
  background: linear-gradient(to bottom, Navy, #d3d30b, gold);
  transform: translate3d(0, 0, 100px);
}
